/* .clearfix::after {
    content: "";
    clear: both;
    display: table;
} */


body {
    background-image: url("../images/background.jpg");
    /* background-repeat: no-repeat; */
    background-size: 100%;
    font-size: 16px;
    width: 500px;
    margin: auto;
}

h1 {
    padding: 20px 0 20px 0;
    background: orange;
    width: 500px;
}
.instructions {
    width: 500px;
    background: beige;
    color: green;
    margin-left: 15px;
}

.scoreBoard {
    width: 250px;
    background: mintcream;
    height: 100px;  
    float: left;
    font-size: 16px;
    margin-top: 10px;
}

.winsLosses {
    width: 200px;
    height: 100px;
    float: left;
    background: mintcream;
    margin-left: 10px;
    margin-top: 10px;

}

#currentScore {
    height: 100px;
    width: 200px;
    float: left;
    background: mintcream;
}

.divContainer {
    float: left;
    clear: none;
    margin-bottom: 50px;
}

.crystal {
    height: 100px;
    width: 100px;
    margin-right: 10px;
    /* background: red; */
    position: relative;
    float: left;
    margin-bottom: 0;   
}

img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

@media only screen and (max-width: 550px) {
}